/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    
    --cor-1: #13507C;
    --cor-2: #C62E65;
    --cor-3: #F3A712;
    --cor-4: #DAE7DE;
   --cor-padrao: #F5F5F5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-4);
    font-family: 'Raleway';
    color: #000;
    margin: 1% 8%;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

.menu__name{
    display: flex;
    align-items: center;
    gap: 1rem;
}

section.menu{
    width: 100%;
    margin: 0%;
    display: flex;
}

.menu__header{
    padding: 0%;
}

.menu__list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem;
}


/*Sessão Title*/

section.title{
    display: flex;
}

div.title__div{
    width: 100%;
    margin: 0%;
    display: flex;
    flex-direction: row-reverse;
}

.title__profile {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    border-radius: 100%;
}

.title__network{
    display: flex;
    gap: 1rem;
}
/*Sessão About*/

section.about{

}

.skills__title, .hobbies__title, .academic__title, .experience__section__title {
    text-align: center;
}

.skills__line, .hobbies__line{
    text-align: center;
    background-color: var(--cor-de-fundo);
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

/*Sessão Hobbies*/

section.hobbies{
    
}

/* Experiência Acadêmica*/

section.academic{

}

/* experiência*/

section.experience{

}

/*Contato*/

section.formcontato{

}

/*footeer*/

section.footer{
   
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}
