/* Projetos*/

section.projects{
    background-image: linear-gradient(to bottom, #FFC2D1, #fefdf4);
    width: 100vw;
    margin-bottom: 10%;
    padding: 0 2%;
}

div.projects__box{
    margin: 5% 0;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: dashed 0.1rem var(--cor-destaque-1);
}

img.projects__img{
    max-width: 90%;
    margin: 2% 0;
}

h3.projects__title{
    font: 1.3rem var(--fonte-subtitulos);
    padding: 3% 0 1%;
    text-align: center;
}

p.projects__text{
    font: normal 1.2rem var(--fonte-texto);
    color: var(--cor-de-texto);
    text-indent: 1rem;
    margin: 5% 7%;
}

div.projects__links{
    margin: 1rem 1rem 2rem;
    display: flex;
    justify-content: space-around;
}

/* configurações dos botoes sessão projetos */
button.repository__button, .acess__button{
    display: block;
	padding: 10px 20px;
    width: 8rem;
	text-decoration: none;
	font: bold 90% var(--fonte-texto);
	position: relative;
	color: var(--cor-de-fundo);
	border-radius: 50px;
	text-align: center;
	transition-duration: 0.25s;
    background-color: var();

	&:hover {
        color: var(--cor-de-texto);
        background-color: var(--button-hover);
        font-size: 1rem;
	}
}

button.repository__button{
    background-color: var(--button-repository-color);
}

button.acess__button{
    background-color: var(--button-acess-color);
}